<h1>Nome: {{nome}}</h1>
<h1>Idade: {{idade}}</h1>
<h1>Telefone: {{telefone}}</h1>


<div class="cono-container">
    <div class="souEu">
        <h1> Quem Gosto </h1>
        <p>
            Eu sou o <span class="variavel">{{nome}}</span> gosto de <span class="array">{{hobe[4]}}</span> um <span class="hash">{{carro.nome}}</span> na cor <span class="hash">{{carro.cor}}</span> com umas Rodas de <span class="hash">{{carro.rodas}}</span>
        </p>
    </div>

    <div class="time-container">
        <span>00:00:00</span>
    </div>
    <div class="butons-crono">
        <button> Iniciar </button>
        <button> Pausar </button>
        <button> Parar </button>
    </div>
</div>